.bottom-wrapper{
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: calc(100% - 20px);
    text-align: center;
    z-index: 5;
    transform: translateX(-50%);
    pointer-events: none;
}

.bottom-bar {
    color: #fff;
    background-color: #333333;
    box-shadow: 1px 3px 10px 0 rgb(0 0 0 / 50%);
    margin: 0 5px;
    pointer-events: all;
    text-align: center;
}

.button {
    position: relative;
    cursor: pointer;
    width: 28px;
    height: 28px;
    padding: 10px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.0);
    outline: none;
}

.button:hover{
    background-color: blue;
}

.bottom-wrapper .bottom-bar {
    display: inline-block;
}

.bottom-wrapper .bottom-bar .button {
    float: left;
}