.zoom-wrapper {
    position: absolute;
    right: 50px;
    bottom: 10px;
    text-align: center;
    z-index: 5;
    transform: translateX(-50%);
    pointer-events: none;
}

.zoom-wrapper .button{
    float: left;
}